@font-face {
	font-family: Gotham-Bold;
	src: url('../fonts/Gotham-Bold.otf');
}
@font-face {
	font-family: GothamBook;
	src: url('../fonts/GothamBook.otf');
}
@font-face {
	font-family: Gotham-Medium;
	src: url('../fonts/Gotham-Medium.otf');
}
@font-face {
	font-family: MyriadProregular;
	src: url('../fonts/MyriadProregular.otf');
}
@font-face {
	font-family: OpenSans-Regular;
	src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: RobotoBold;
	src: url('../fonts/RobotoBold.ttf');
}